<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div th:fragment="footer">
    <div class="container" id="footer">
        <footer>
            <!-- this is footer -->
            © 2019 bjfansr@cn.ibm.com
            <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Logout</a>
            </span>
        </footer>
    </div>
</div>
</body>
</html>
