<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css" href="/js/bootstrap-4.3.1/css/bootstrap.min.css">
        <script type="text/javascript" charset="utf-8" src="/js/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" th:href="@{/main.css}"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <div class="container" id="header">
        <h1>Spring Boot + Thymeleaf + Spring Security</h1>
        <!-- this is header -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="navbar-brand" th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a class="navbar-brand" th:href="@{/moses}">Moses</a></li>
                <li class="breadcrumb-item"><a class="navbar-brand" th:href="@{/documents}">Documents</a></li>
            </ol>
        </nav>
    </div>
</div>

</body>
</html>
