<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="/js/bootstrap-4.3.1/css/bootstrap.min.css">
    <script charset="utf-8" src="/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="starter-template">
        <h1>403 - No access rights</h1>
        <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]',
            You don't have access rights.
        </div>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
