<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Salary Income Predictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1>Salary Income Predictor</h1>
    <!--/*@thymesVar id="vo" type="com.moses.framework.samples.payment.vo.SalaryVO"*/-->
    <form th:action="@{/payment/list}" th:object="${vo}" method="post">
        <div class="form-group">
            <label for="inputSalary">Salary</label>
            <input type="number" class="form-control" id="inputSalary" placeholder="Input Salary" min="1"
                   th:value="1000" th:field="*{salary}">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputIncrement">Increment</label>
                <input type="number" class="form-control" id="inputIncrement" placeholder="Input Increment"
                       name="points" step="0.1" min="0" max="1" th:value="0.3" th:field="*{increment}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputIncrementFrequently">Frequently</label>
                <select class="custom-select my-1 mr-sm-2" id="inputIncrementFrequently"
                        th:field="${vo.incrementFrequently}"
                        th:value="${vo.incrementFrequently}" required
                        lay-verify="required">
                    <option th:each="frequently:${frequentlyList}" th:value="${frequently.num}"
                            th:text="${frequently.name}"
                            th:selected="${frequently.num eq vo.incrementFrequently}"></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputDeductions">Deductions</label>
                <input type="number" class="form-control" id="inputDeductions" placeholder="Input Deductions"
                       name="points" step="0.1" min="0" max="1" th:value="0.2" th:field="*{deduction}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputDeductionsFrequently">Frequently</label>
                <select class="custom-select my-1 mr-sm-2" id="inputDeductionsFrequently"
                        th:field="${vo.deductionFrequently}"
                        th:value="${vo.deductionFrequently}" required
                        lay-verify="required">
                    <option th:each="frequently:${frequentlyList}" th:value="${frequently.num}"
                            th:text="${frequently.name}"
                            th:selected="${frequently.num eq vo.deductionFrequently}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPrediction">Prediction</label>
            <select class="custom-select my-1 mr-sm-2" id="inputPrediction"
                    th:field="${vo.prediction}"
                    th:value="${vo.prediction}" required
                    lay-verify="required">
                <option th:each="prediction:${yearList}" th:value="${prediction}"
                        th:text="${prediction}"
                        th:selected="${prediction eq vo.prediction}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" id="submitId">Submit</button>
    </form>
    <!--/*@thymesVar id="item" type="com.ibm.mosesboot.po.Payment"*/-->
    <h1>Increment Report</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Starting Salary</th>
            <th scope="col">Number of Increments</th>
            <th scope="col">Increment %</th>
            <th scope="col">Increment Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="payment:${incrementList}">
            <td th:text="${payment.year}"/>
            <td th:text="${payment.salary}"/>
            <td th:text="${payment.number}"/>
            <td th:text="${payment.percentage}"/>
            <td th:text="${payment.amount}"/>
        </tr>
        </tbody>
    </table>
    <h1>Deduction Report</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Starting Salary</th>
            <th scope="col">Number of Increments</th>
            <th scope="col">Increment %</th>
            <th scope="col">Increment Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="payment:${deductionList}">
            <td th:text="${payment.year}"/>
            <td th:text="${payment.salary}"/>
            <td th:text="${payment.number}"/>
            <td th:text="${payment.percentage}"/>
            <td th:text="${payment.amount}"/>
        </tr>
        </tbody>
    </table>
    <h1>Prediction</h1>
    <table class="table" id="table_prediction"></table>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Starting Salary</th>
            <th scope="col">Increment Amount</th>
            <th scope="col">Deduction Amount</th>
            <th scope="col">Salary Growth</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="payment:${predictionList}">
            <td th:text="${payment.year}"/>
            <td th:text="${payment.salary}"/>
            <td th:text="${payment.incrementAmount}"/>
            <td th:text="${payment.deductionAmount}"/>
            <td th:text="${payment.amount}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
