<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.mosesboot.documents.mapper.TemplateConfigMapper">
  <resultMap id="BaseResultMap" type="com.ibm.mosesboot.documents.entity.TemplateConfig">
    <id column="TEMPLATE_ID" jdbcType="VARCHAR" property="templateId" />
    <result column="TEMPLATE_NAME" jdbcType="VARCHAR" property="templateName" />
    <result column="LOCATION_PREX" jdbcType="VARCHAR" property="locationPrex" />
    <result column="NEXT_PART_ID" jdbcType="VARCHAR" property="nextPartId" />
  </resultMap>
  <sql id="Base_Column_List">
    TEMPLATE_ID, TEMPLATE_NAME, LOCATION_PREX, NEXT_PART_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_PRO_DOC_TEMPLATE_CONFIG
    where TEMPLATE_ID = #{templateId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_PRO_DOC_TEMPLATE_CONFIG
    where TEMPLATE_ID = #{templateId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ibm.mosesboot.documents.entity.TemplateConfig">
    insert into T_PRO_DOC_TEMPLATE_CONFIG (TEMPLATE_ID, TEMPLATE_NAME, LOCATION_PREX, 
      NEXT_PART_ID)
    values (#{templateId,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, #{locationPrex,jdbcType=VARCHAR}, 
      #{nextPartId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ibm.mosesboot.documents.entity.TemplateConfig">
    insert into T_PRO_DOC_TEMPLATE_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateId != null">
        TEMPLATE_ID,
      </if>
      <if test="templateName != null">
        TEMPLATE_NAME,
      </if>
      <if test="locationPrex != null">
        LOCATION_PREX,
      </if>
      <if test="nextPartId != null">
        NEXT_PART_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateId != null">
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null">
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="locationPrex != null">
        #{locationPrex,jdbcType=VARCHAR},
      </if>
      <if test="nextPartId != null">
        #{nextPartId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ibm.mosesboot.documents.entity.TemplateConfig">
    update T_PRO_DOC_TEMPLATE_CONFIG
    <set>
      <if test="templateName != null">
        TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="locationPrex != null">
        LOCATION_PREX = #{locationPrex,jdbcType=VARCHAR},
      </if>
      <if test="nextPartId != null">
        NEXT_PART_ID = #{nextPartId,jdbcType=VARCHAR},
      </if>
    </set>
    where TEMPLATE_ID = #{templateId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ibm.mosesboot.documents.entity.TemplateConfig">
    update T_PRO_DOC_TEMPLATE_CONFIG
    set TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      LOCATION_PREX = #{locationPrex,jdbcType=VARCHAR},
      NEXT_PART_ID = #{nextPartId,jdbcType=VARCHAR}
    where TEMPLATE_ID = #{templateId,jdbcType=VARCHAR}
  </update>
</mapper>